@import '~bulma/bulma.sass';
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Poppins:wght@200;400;600;800&display=swap');

body {
  min-height: 100vh;
  min-width: 100vw;
}

h1 {
  font-weight: bold;
  font-size: 90px;
}

p {
  font-weight: bold ;
  font-size: 40px;
}